{% extends 'base.html' %}
{% load static %}

{% block title %}운동 기록{% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="align-items-center">
            {% if uploadFile.file %}
                <img src="{{ uploadFile.file.url }}" class="rounded-circle" width="200" height="200">
            {% else %}
                <img src="{% static 'assets/img/profile/profile_default.png' %}" class="rounded-circle" width="200" height="200">
            {% endif %}
            <br>
            <a href="../change_image"><img src="{% static 'assets/img/profile/camera_icon.png' %}" class="rounded-circle" width="60"></a>
        </div><br>
        <div class="row gx-4 gx-lg-5 align-items-center">        
            <h2>{{ request.session.member_name }}님 반갑습니다.</h2>
            <hr>
            <h4>나의 정보</h4>
            <div class="text-left ms-4"><br>
                이름 {{request.session.member_name}}</p>
                이메일 {{ email }}</p>
                전화번호 {{phone}}</p>
                키 {{height}}</p>
                몸무게 {{weight}}</p>
                {% if bmi <= 18.5 %}
                    BMI {{bmi}}(저체중)</p>
                {% elif bmi <= 23 %}
                    BMI {{bmi}}(정상)</p>
                {% elif bmi <= 25 %}
                    BMI {{bmi}}(정상)</p>
                {% else %}
                    BMI {{bmi}}(비만)</p>
                {% endif %}
                <a href="/history/profile_update/">수정하기</a>
            </div>    
        </div><hr>

        <!-- 대시보드 -->
        <div class="container" style="width:85%;">
            <div class="row bg-primary text-center" style="margin-top:2rem;">
                <h3 class="text-white" style="margin-top:1rem;">오늘의 운동량</h3>
                <div id="current_date" class="text-white"></div>

                <div class="card col-sm" style="height:8rem; margin:1rem;">
                    <div class="card-header" style="font-size:12px">
                        <b>트라이셉스 푸쉬 다운</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{triceps}} 회</h5>
                        {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                        {% comment %} <p class="card-text">평화</p> {% endcomment %}
                        <a href="../../triceps/triceps" class="card-link">Go to Triceps!</a>
                    </div>
                </div>

                <div class="card col-sm" style="height:8rem; margin:1rem;">
                    <div class="card-header" style="font-size:13px">
                        <b>시티드 숄더 프레스</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{shoulder}} 회</h5>
                        <a href="../../shoulder/shoulder" class="card-link">Go to Shoulder!</a>
                    </div>
                </div>

                <div class="card col-sm" style="height:8rem; margin:1rem;">
                    <div class="card-header" style="font-size:13px">
                        <b>스쿼트</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{squat}} 회</h5>
                        <a href="../../squat/squat" class="card-link">Go to Squat!</a>
                    </div>
                </div>

                <div class="card col-sm" style="height:8rem; margin:1rem;">
                    <div class="card-header" style="font-size:13px">
                        <b>풀업</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{pullup}} 회</h5>
                        <a href="../../pullup/pullup" class="card-link">Go to Pullup!</a>
                    </div>
                </div>

                <div class="card col-sm" style="height:8rem; margin:1rem;">
                    <div class="card-header" style="font-size:13px">
                        <b>나무 자세</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{vrksasana}} 회</h5>
                        <a href="../../vrksasana/vrksasana/" class="card-link">Go to Vrksasana!</a>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- 랭킹 -->
        <div class="container" style="width:85%;">
            <div class="row bg-success text-center" style="margin-top:2rem;">
                <h3 class="text-white" style="margin-top:1rem;">Fitness Ranking</h3>
                <div id="current_date2" class="text-white"></div>
                
                <div class="card col-sm" style="margin:1rem;">
                    <div class="card-header">
                        <b>나의 순위는?</b>
                    </div>
                    <div class="card-body">
                        <br><br>
                        <h5 class="card-title">1 등</h5>
                        <h6 class="card-subtitle mb-2 text-muted">오늘도 화이팅!</h6>
                    </div>
                </div>

                <table class="table bg-white table-striped col-sm" style="margin:1rem;">
                    <thead>
                    <tr class="table-dark">
                        <th scope="col">Rank</th>
                        <th scope="col">ID</th>
                        <th scope="col">Triceps</th>
                        <th scope="col">Shoulder</th>
                        <th scope="col">Squat</th>
                        <th scope="col">Pullup</th>
                        <th scope="col">Vrksasana</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-info">
                        <th scope="row">-</th>
                        <td>Me</td>
                        <td>{{triceps}}</td>
                        <td>{{shoulder}}</td>
                        <td>{{squat}}</td>
                        <td>{{pullup}}</td>
                        <td>{{vrksasana}}</td>
                        <td>{{total}}</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>10</td>
                        <td>10</td>
                        <td>20</td>
                        <td>30</td>
                        <td>40</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>11</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Bird</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>50</td>
                    </tr>
                    </tbody>
                </table>
        
            </div>
            <br><br><br><br><br>
        </div>

        <!-- 대시보드 필요한 js -->
        <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = year + "/" + month + "/" + day;
            document.getElementById("current_date2").innerHTML = year + "/" + month + "/" + day;
        </script>
        <div class="row col-lg-4 text-lg-start ms-0"><a href="/history/member_del/">회원탈퇴</a></div>
    </div>

</section>
{% endblock %}
