{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 my-5">
    <div class="align-items-center">
        
            <form action="/history/profile_update/" method="POST" style="margin: 0 auto; width:250px;">
                <h1>회원수정</h1>
                {% csrf_token %}
                비밀번호<br><input  type="password" name="psw_rg" style="width:200px; height:25px; font-size:20px;"><br><br>
                이메일<br><input type="email" name="email" placeholder="aivle@aivle.com"style="width:200px; height:25px; font-size:20px;"><br><br>
                번호<br><input type="tel" name="phone" placeholder="010-0000-0000" style="width:200px; height:25px; font-size:20px;"><br><br>
                키<br><input type="number" name="height" style="width:200px; height:25px; font-size:20px;"><br><br>
                몸무게<br><input type="number" name="weight"style="width:200px; height:25px; font-size:20px;"><br><br>

                <input type="submit" value="회원수정" style="margin: 0 auto; width:200px;">
            </form>

    </div>            
</div>            
{% endblock %}