{% extends 'base.html' %}
{% load static %}

{% block title %}스쿼트{% endblock %}

{% block content %}
        <!-- Product section-->
        <section class="py-5">
            {% if request.session.member_id %}
            <form method='post' action='../update_count/' onsubmit='return ext()'>
                {% csrf_token %}
                <input type="hidden" id='ud_count' name='ud_count' value=0>
                <button class="app_btn" type="submit">종료</button>
            </form>
            {% else %}
            <button class="app_btn" type="button" onclick="window.location.reload()">종료</button>
            {% endif %}
            <button class="app_btn" type="button" onclick="init()">시작</button>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><iframe width="560" height="430" src="https://www.youtube.com/embed/Fk9j6pQ6ej8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        
                        <div><canvas id="canvas" style="padding:0px; width:430px; height:430px; background-color:gray;"></canvas></div>
                        <div id="label-container"></div>
                        <div id="count-show"></div>

                        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
                        <script type="text/javascript">
                            // More API functions here:
                            // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/pose

                            // the link to your model provided by Teachable Machine export panel
                            const URL = "{% static 'assets/squat_model/' %}";
                            let model, webcam, ctx, labelContainer, maxPredictions, countshow;

                            async function init() {
                                const modelURL = URL + "model.json";
                                const metadataURL = URL + "metadata.json";

                                // load the model and metadata
                                // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
                                // Note: the pose library adds a tmPose object to your window (window.tmPose)
                                model = await tmPose.load(modelURL, metadataURL);
                                maxPredictions = model.getTotalClasses();

                                // Convenience function to setup a webcam
                                const size = 450;
                                const flip = true; // whether to flip the webcam
                                webcam = new tmPose.Webcam(size, size, flip); // width, height, flip
                                await webcam.setup(); // request access to the webcam
                                await webcam.play();
                                window.requestAnimationFrame(loop);

                                // append/get elements to the DOM
                                const canvas = document.getElementById("canvas");
                                canvas.width = size; canvas.height = size;
                                ctx = canvas.getContext("2d");
                                labelContainer = document.getElementById("label-container");
                                for (let i = 0; i < maxPredictions; i++) { // and class labels
                                    labelContainer.appendChild(document.createElement("div"));
                                }

                                countshow = document.getElementById("count-show");
                                countshow.appendChild(document.createElement("div"));
                            }

                            async function loop(timestamp) {
                                webcam.update(); // update the webcam frame
                                await predict();
                                window.requestAnimationFrame(loop);
                            }

                            var status = "stand"
                            var count = 0

                            async function predict() {
                                // Prediction #1: run input through posenet
                                // estimatePose can take in an image, video or canvas html element
                                const { pose, posenetOutput } = await model.estimatePose(webcam.canvas);
                                // Prediction 2: run input through teachable machine classification model
                                const prediction = await model.predict(posenetOutput);

                                if(prediction[0].probability.toFixed(2)>=0.90){
                                    if(status=="squat"){
                                        count++
                                        if (count < 10){
                                            var audio = new Audio('/static/assets/audio/' + count + '.mp3')
                                            audio.play()
                                        }
                                        if(count == 10){
                                            var audio = new Audio("{% static 'assets/audio/finish.mp3' %}")
                                            audio.play()
                                        }
                                    }
                                
                                    status = "stand"
                                    
                                } else if(prediction[1].probability.toFixed(2)==1.00){
                                    status = "squat"
                                }
                                
                                countshow.innerHTML = count + "회"
                                
                                /* for (let i = 0; i < maxPredictions; i++) {
                                    const classPrediction =
                                        prediction[i].className + ": " + prediction[i].probability.toFixed(2);
                                    labelContainer.childNodes[i].innerHTML = classPrediction;
                                } */
                                
                                // finally draw the poses
                                drawPose(pose);
                            }

                            function drawPose(pose) {
                                if (webcam.canvas) {
                                    ctx.drawImage(webcam.canvas, 0, 0);
                                    // draw the keypoints and skeleton
                                    if (pose) {
                                        const minPartConfidence = 0.5;
                                        tmPose.drawKeypoints(pose.keypoints, minPartConfidence, ctx);
                                        tmPose.drawSkeleton(pose.keypoints, minPartConfidence, ctx);
                                    }
                                }
                            }

                            async function ext(){
                                webcam.pause()
                                document.getElementById('ud_count').value = count

                                return true;
                            }
                        </script>
                    </div>
                    <br>
                    <div>
                        <br><h4><strong>초보자도 쉽게 시작할 수 있는 스쿼트</strong></h4><br>
                        <p>스쿼트는 다른 보조기구가 없이도 초보자들이 가장 쉽게 접할 수 있고, 때와 장소를 가리지 않고 단련할 수 있는 운동입니다.</p>
                        <p>대표적인 하체 운동으로 알려져 있지만 하체 뿐만 아니라 코어, 힙 및 상체의 근력 향상에도 도움을 주며, 다이어트에도 아주 효과적입니다.</p>
                        <p>스쿼트를 통해 허벅지 둔근을 단련하면 혈류가 원활해져 노폐물 제거에 효과적이고, 또한 온몸으로 영양분이 잘 공급될 수 있도록 하는 펌프 역할을 합니다.</p>
                        <p>나아가, 덤벨과 바벨을 함께 이용해서 복합적인 운동 효과를 꾀할 수도 있는 스쿼트. 지금 운동하러 가보실까요?</p>
                        <hr>
                        <h4></strong>주의점</strong></h4>
                        <ul>
                            <p><li>중심이 앞으로 쏠리거나 뒤꿈치가 들려서는 안 된다. 몸의 중심은 발 가운데에!</li></p>
                            <p><li>허리는 오목한 상태가 되어야 한다. 볼록한 것은 복근에 힘이 들어가지 않은 것!</li></p>
                            <p><li>11자 자세는 고관절에 무리를 준다. 발은 5~15도가량 바깥을 향하게!</li></p>
                            <p><li>무릎이 발을 넘지 말아야 하는 것은 잘못된 상식. 위 자세가 완벽하면 신경쓰지 않아도 된다.</li></p>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}