{% extends 'base.html' %}
{% load static %}

{% block title %}시티드 숄더 프레스{% endblock %}

{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <button class="app_btn" type="button" onclick="window.location.reload()">종료</button>
            <button class="app_btn" type="button" onclick="init()">시작</button>
            
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6" ><iframe width="540" height="450" src="https://www.youtube.com/embed/ywLWbwF42kE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <div class="col-md-6">

                        <div><canvas id="canvas" width="590" height="450" style="margin-top: 0px; border-style: solid; border-color: black; border-width:1px;"></canvas></div>
                        <div id="label-container"></div>

                        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
                        <script type="text/javascript">
                            // More API functions here:
                            // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/pose

                            // the link to your model provided by Teachable Machine export panel
                            const URL = "https://teachablemachine.withgoogle.com/models/dPLEIX2sJ/";
                            
                            let model, webcam, ctx, labelContainer, maxPredictions;

                            async function init() {
                                const modelURL = URL + "model.json";
                                const metadataURL = URL + "metadata.json";

                                // load the model and metadata
                                // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
                                // Note: the pose library adds a tmPose object to your window (window.tmPose)
                                model = await tmPose.load(modelURL, metadataURL);
                                maxPredictions = model.getTotalClasses();

                                // Convenience function to setup a webcam
                                const size_w = 590;
                                const size_h = 450;
                                const flip = true; // whether to flip the webcam
                                webcam = new tmPose.Webcam(size_w, size_h, flip); // width, height, flip
                                await webcam.setup(); // request access to the webcam
                                await webcam.play();
                                window.requestAnimationFrame(loop);

                                // append/get elements to the DOM
                                const canvas = document.getElementById("canvas");
                                canvas.width = size_w; canvas.height = size_h;
                                ctx = canvas.getContext("2d");
                                labelContainer = document.getElementById("label-container");
                                for (let i = 0; i < maxPredictions; i++) { // and class labels
                                    labelContainer.appendChild(document.createElement("div"));
                                }
                            }

                            async function loop(timestamp) {
                                webcam.update(); // update the webcam frame
                                await predict();
                                window.requestAnimationFrame(loop);
                            }
                            var status = "Ready"
                            var count = 0

                            async function predict() {
                                // Prediction #1: run input through posenet
                                // estimatePose can take in an image, video or canvas html element
                                const { pose, posenetOutput } = await model.estimatePose(webcam.canvas);
                                // Prediction 2: run input through teachable machine classification model
                                const prediction = await model.predict(posenetOutput);
                                if(prediction[0].probability.toFixed(2)>=0.90){
                                    if(status=="UP"){
                                        count++
                                        var audio = new Audio('/static/assets/audio/' + count%10 + '.mp3')
                                        audio.play()
                                    }

                                status = "Ready"
                                    
                                } else if(prediction[1].probability.toFixed(2)==1.00){
                                    status = "UP"
                                }
                                /*for (let i = 0; i < maxPredictions; i++) {
                                    const classPrediction =
                                        prediction[i].className + ": " + prediction[i].probability.toFixed(2);
                                    labelContainer.childNodes[i].innerHTML = classPrediction;
                                }*/

                        // finally draw the poses
                                drawPose(pose);
                            }

                            function drawPose(pose) {
                                if (webcam.canvas) {
                                    ctx.drawImage(webcam.canvas, 0, 0);
                                    // draw the keypoints and skeleton
                                    if (pose) {
                                        const minPartConfidence = 0.5;
                                        tmPose.drawKeypoints(pose.keypoints, minPartConfidence, ctx);
                                        tmPose.drawSkeleton(pose.keypoints, minPartConfidence, ctx);
                                    }
                                }
                            }
                        </script>
                    </div>
                    <hr>
                    <div style="font-size:20px;">
                        
                        <p><strong>시티드 숄더 프레스란</strong><br>
                        <ul><li>어깨 전체 중 전면, 측면, 후면 삼각근을 이용한 운동 (전면 삼각근을 가장 많이 사용)</li>
                        <li>추천 루틴 : 3~5세트, 세트 당 10~20개</li></p>
                        <p><strong>주의점</strong><br>
                        <ol><li>허리를 과하게 꺾는 자세</li>
                        <li>덤벨을 들었을 때 팔이 앞으로 기울어져 있는 경우</li>
                        <li>팔꿈치 보다 손목이 벌어진 경우</li>
                        <li>손목이 팔꿈치보다 안쪽으로 들어온 경우</ol></li></p>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}